<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>
<body>

  <nav class="navbar">
    <div class="nav-container">
      <a href="{{ '/' | relative_url }}" class="logo">
        <img src="{{ '/assets/images/sdsu-pennant.png' | relative_url }}" alt="SDSU Logo" class="nav-sdsu-logo">
        <span class="scarlet">Armaan Shamsaasef</span>
      </a>
      <ul class="nav-links">
        <li><a href="{{ '/' | relative_url }}">About</a></li>
        <li><a href="{{ '/skills/' | relative_url }}">Skills</a></li>
        <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
        <li><a href="{{ '/certifications/' | relative_url }}">Certifications</a></li>
      </ul>
    </div>
  </nav>

  <main>
    {{ content }}
  </main>

  <footer class="footer">
    <div class="container">
      <p>&copy; {{ 'now' | date: "%Y" }} Armaan Shamsaasef</p>
    </div>
  </footer>

</body>
</html>
